<nav class="navbar">
    <div class="navbar-left">
      <a href="/" class="logo">PlanIT</a>
    </div>
    <div class="navbar-middle">
      <ul>
        <li><a href="/tasks/search">Search</a></li>
        <li><a href="/tasks/addtask">Add Event</a></li>
        <li><a href="/tasks/listtasks"> My Events</a></li>
        <li><a href="/tasks/upcomingtasks"> Urgent Reminders </a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/users/profile">My Profile</a></li>
      </ul>
    </div>
  </nav>