
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>

    <h1>Welcome to PlanIT</h1>
    <a href="/add-event">➕ Add an Event</a><br>
    <a href="/">View Your Events</a>
    
  </body>
</html>
