<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  <title><%= title %></title>
</head>
<body>
  <!-- Navbar Partial -->
  <%- include('partials/navbar') %>
  
  <div class="page-wrapper">
    <%- body %>
  </div>
</body>
</html>