<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="page-wrapper">
    <h1>List of Registered Users</h1>
    <h2>Here are a list of users registered: </h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li> <%= user.first_name %>  <%= user.last_name %></li>
      <% }) %>
    </ul>
    </div>
    </body>
</html>