<!doctype html>
<html lang="en">
<head>
  <title>Your Profile</title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="page-wrapper">
    <h1>Your Profile!</h1>

    <h2>Account Details</h2>
    <p>First Name: <%= firstName %></p>
    <p>Last Name: <%= lastName %></p>
    <p>Email: <%= email %></p>

    <!-- Form to delete the account -->
    <h3>Delete Account</h3>
    <form action="/users/delete-account" method="POST">
      <p>Are you sure certain you want to DELETE YOUR ACCOUNT? This is permanent and will remove all your tasks.</p>
      <button type="submit" class="button primary danger">Delete My Account</button>

    </form>
  </div>

</body>
</html>