<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PlanIT - Routes Overview</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="main-content">
    <h1>PlanIT Pages</h1>
    <ul>
      <li><a href="/">Landing Page</a></li>
      <li><a href="/add-event">Add Event</a></li>
      <li><a href="/dashboard/1">Dashboard (event 1)</a></li>
      <li><a href="/budget/1">Budget</a></li>
      <li><a href="/guests/1">Guests</a></li>
      <li><a href="/tasks/1">Tasks</a></li>
      <li><a href="/moodboard/1">Moodboard</a></li>
      <li><a href="/edit-event/1">Edit Event</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/profile">Profile</a></li>
      <li><a href="/users/logout">Logout</a></li>
  
    </ul>
  </div>
</body>
</html>
