<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="page-wrapper">
    <h1>Search <%=shopData.shopName%></h1>
    <form action="search_result" method="GET">
      <h2> Search for events:</h2>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
</div>
  </body>
</html>