<!doctype html>
<html>
    <head>
        <title>Upcoming Events</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
      </head>
<body>
    <%- include('partials/navbar') %>
    <div class="page-wrapper">
    <h1>Your Upcoming Events </h1>
    <h2> Events in the Next 10 Days!</h2>
    <ul>
        <% availableTasks.forEach(task => { %>
            <li><strong>Task: <%= task.title %></strong> - Due: <%= task.due_date %></li>
        <% }) %>
    </ul>
    </div>
</body>
</html>